<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NReco.VideoConverter" version="1.1.2" targetFramework="net461" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="taglib" version="2.1.0.0" targetFramework="net461" />
</packages>